{% extends 'base.html.twig' %}

{% block title %}CV Clément Godard{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cv') }}
{% endblock %}

{% block stylesheets %}
    {# Pour appeller une feuille de style seulement pour impression #}
    {#    {{ encore_entry_link_tags('cv', null, '_default', {'media': 'print'}) }}#}
    {{ encore_entry_link_tags('cv') }}
{% endblock %}

{% block body %}
    <div class="container">
        {% block main %}
            <main>
                <div id="infos">
                    <img id="profil"
                         src="{{ asset('build/images/profil.webp') }}"
                         alt="Photo de profil"
                         height="100"
                         width="100"
                         loading="lazy"
                    >

                    <h1>Clément Godard</h1>
                    <h2>Développeur Web</h2>

                    <ul>
                        <li>
                            <a href="https://github.com/clementgodard">
                                <img src="{{ asset('build/images/github.svg') }}" width="15" height="15"
                                     alt="Logo github" loading="lazy">
                                Github
                            </a>
                        </li>

                        <li>
                            <a href="https://www.linkedin.com/in/clement-godard">
                                <img src="{{ asset('build/images/linkedin.svg') }}" width="15" height="15"
                                     alt="Logo LinkedIn" loading="lazy">
                                LinkedIn
                            </a>
                        </li>

                        <li><a href="https://my.indeed.com/p/clmentg-h87m5dm">Indeed</a></li>

                        <li>
                            <a href="tel:+33645379694">
                                <img src="{{ asset('build/images/telephone.svg') }}" width="15" height="15"
                                     alt="Logo téléphone" loading="lazy">
                                Téléphone
                            </a>
                        </li>

                        <li>
                            <a href="mailto:clement_godard@hotmail.fr">
                                <img src="{{ asset('build/images/envelope.svg') }}" width="15" height="15"
                                     alt="Logo e-mail" loading="lazy">
                                E-mail
                            </a>
                        </li>
                    </ul>
                </div>

                {% from 'macro/categorie.html.twig' import recursiveCategorie %}

                {% for categorie in categories %}
                    {{ recursiveCategorie(categorie, 1) }}
                {% endfor %}
            </main>
        {% endblock %}

        {% block footer %}
            <footer>
                <p>Site réalisé par Clément Godard <a href="https://github.com/clementgodard/cv-symfony">code source</a>
                </p>
            </footer>
        {% endblock %}
    </div>

{% endblock %}
