{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('adminBase') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adminBase') }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <nav class="container navbar navbar-expand-lg">
        <ul class="navbar-nav w-100">
            <li class="nav-item{{ (app.request.attributes.get('_route') == 'categorie' ? ' active':'') }}">
                <a class="nav-link" href="{{ path('categorie') }}">Créer une catégorie</a>
            </li>

            <li class="nav-item{{ (app.request.attributes.get('_route') == 'ligne' ? ' active':'') }}">
                <a class="nav-link" href="{{ path('ligne') }}">Créer une ligne</a>
            </li>

            <li class="nav-item{{ (app.request.attributes.get('_route') == 'liste' ? ' active':'') }}">
                <a class="nav-link" href="{{ path('liste') }}">Liste des catégories</a>
            </li>

            <li class="nav-item ms-auto">
                <a class="nav-link" href="{{ path('cv') }}">Voir le CV</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                {{ flash }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        {% for flash in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                {{ flash }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>

{% endblock %}

