{% macro recursiveCategorie(categorie, depth) %}
    {% import _self as self %}

    <div id="{{ categorie.libelle | slug | lower }}" data-depth="{{ depth }}">
        <h{{ (depth + 2) }}>{{ categorie.libelle }}</h{{ (depth + 2) }}>

        {% if categorie.categorieEnfant | length > 0 %}
            {% for sousCategorie in categorie.categorieEnfant %}
                {{ self.recursiveCategorie(sousCategorie, (depth+1)) }}
            {% endfor %}
        {% endif %}

        {% if categorie.lignes | length > 0 %}
            <ul>
                {% for ligne in categorie.lignes %}
                    <li>
                        <span class="ligne-titre">{{ ligne.titre }}</span>
                        {#                        <p>{{ ligne.contenu | raw }}</p> #}
                        {% if ligne.class == 'Competence' and ligne.note %}
                            <progress max="100" value="{{ ligne.note }}">{{ ligne.note }}%</progress>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% macro recursiveCategorieNav(categorie, depth) %}
    {% import _self as self %}

    <li>
        <a href="#{{ categorie.libelle | slug | lower }}">{{ categorie.libelle }}</a>
        {% if categorie.categorieEnfant | length > 0 %}
            <ul>
                {% for sousCategorie in categorie.categorieEnfant %}
                    {{ self.recursiveCategorieNav(sousCategorie, (depth+1)) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro recursiveCategorieAdmin(categorie, depth) %}
    {% import _self as self %}

    <div data-depth="{{ depth }}">
        <h{{ (depth + 2) }}>{{ categorie.libelle }}
            <span class="float-end">
                <a href="{{ path('formCategorie', {categorie: categorie.id}) }}"><i class="bi bi-pencil"></i></a>
                <a class="js-confirm"
                   href="{{ path('deleteCategorie', {categorie: categorie.id}) }}"
                   data-method="DELETE"
                ><i class="bi bi-trash"></i></a>
            </span>
        </h{{ (depth + 2) }}>

        {% if categorie.categorieEnfant | length > 0 %}
            {% for sousCategorie in categorie.categorieEnfant %}
                {{ self.recursiveCategorieAdmin(sousCategorie, (depth+1)) }}
            {% endfor %}
        {% endif %}

        {% if categorie.lignes | length > 0 %}
            <ul>
                {% for ligne in categorie.lignes %}
                    <li>
                        <span class="ligne-titre">{{ ligne.titre }}</span>
                        <span>
                            {% if ligne.class == 'Ligne' %}
                                <a href="{{ path('formLigne', {ligne: ligne.id}) }}"><i class="bi bi-pencil"></i></a>
                                <a class="js-confirm"
                                   href="{{ path('deleteLigne', {ligne: ligne.id}) }}"
                                   data-method="DELETE"
                                ><i class="bi bi-trash"></i></a>
                            {% endif %}

                            {% if ligne.class == 'Competence' %}
                                <a href="{{ path('formCompetence', {competence: ligne.id}) }}"><i class="bi bi-pencil"></i></a>
                                <a class="js-confirm"
                                   href="{{ path('deleteCompetence', {competence: ligne.id}) }}"
                                   data-method="DELETE"
                                ><i class="bi bi-trash"></i></a>
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}
