{% extends 'base.html.twig' %}

{% block title %}Authentification{% endblock %}


{% block body %}
    <h1>Bienvenue sur la partie admin</h1>

    {% if error %}
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    <form action="{{ path('login') }}" method="POST">
        <label for="username">Username :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="{{ path('admin') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Connexion</button>
    </form>

{% endblock %}
