<nav class="container navbar navbar-expand-lg">
    <ul class="navbar-nav w-100">
        <li class="nav-item{{ (app.request.attributes.get('_route') == 'formCategorie' ? ' active':'') }}">
            <a class="nav-link" href="{{ path('formCategorie') }}"><i class="bi bi-plus-circle"></i>&nbsp;Créer une
                catégorie</a>
        </li>

        <li class="nav-item{{ (app.request.attributes.get('_route') == 'formLigne' ? ' active':'') }}">
            <a class="nav-link" href="{{ path('formLigne') }}"><i class="bi bi-plus-circle"></i>&nbsp;Créer une
                ligne</a>
        </li>

        <li class="nav-item{{ (app.request.attributes.get('_route') == 'formCompetence' ? ' active':'') }}">
            <a class="nav-link" href="{{ path('formCompetence') }}"><i class="bi bi-plus-circle"></i>&nbsp;Créer une
                compétence</a>
        </li>

        <li class="nav-item{{ (app.request.attributes.get('_route') == 'liste' ? ' active':'') }}">
            <a class="nav-link" href="{{ path('liste') }}"><i class="bi bi-list-columns-reverse"></i>&nbsp;Liste des
                catégories</a>
        </li>

        <li class="nav-item ms-auto">
            <a class="nav-link" href="{{ path('cv') }}" target="_blank"><i class="bi bi-eye"></i>&nbsp;Voir le CV</a>
        </li>
    </ul>
</nav>
