{% macro recursiveCategorie(categorie, depth) %}
    {% import _self as self %}

    <div id="{{ categorie.libelle | slug | lower }}" data-depth="{{ depth }}">
        <h{{ (depth + 2) }}>{{ categorie.libelle }}</h{{ (depth + 2) }}>

        {% if categorie.categorieEnfant | length > 0 %}
            {% for sousCategorie in categorie.categorieEnfant %}
                {{ self.recursiveCategorie(sousCategorie, (depth+1)) }}
            {% endfor %}
        {% endif %}

        {% if categorie.lignes | length > 0 %}
            <ul>
                {% for ligne in categorie.lignes %}
                    <li>
                        <span class="ligne-titre">{{ ligne.titre }}</span>
                        {#                        <p>{{ ligne.contenu | raw }}</p> #}
                        {% if ligne.class == 'Competence' and ligne.note %}
                            <progress max="100" value="{{ ligne.note }}">{{ ligne.note }}%</progress>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}

{% macro recursiveCategorieNav(categorie, depth) %}
    {% import _self as self %}

    <li>
        <a href="#{{ categorie.libelle | slug | lower }}">{{ categorie.libelle }}</a>
        {% if categorie.categorieEnfant | length > 0 %}
            <ul>
                {% for sousCategorie in categorie.categorieEnfant %}
                    {{ self.recursiveCategorieNav(sousCategorie, (depth+1)) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{% macro recursiveCategorieAdmin(categorie, depth, nbRootCategories ) %}
    {% import _self as self %}

    <div data-depth="{{ depth }}">
        <h{{ (depth + 2) }}>{{ categorie.libelle }}
            {# Gestion des Catégories #}
            <span class="float-end">
                <a href="{{ path('formCategorie', {categorie: categorie.id}) }}"><i class="bi bi-pencil"></i></a>

                {% if categorie.parent is null
                    and categorie.position < nbRootCategories
                    or categorie.parent is not null
                    and categorie.parent.categorieEnfant is not null
                    and categorie != categorie.parent.categorieEnfant | last %}
                    <a
                        {{ stimulus_controller('ajax', {'method': 'PATCH'}) }}
                            {{ stimulus_action('ajax', 'sendAjax') }}
                        href="{{ path('updateCategoriePosition', {id: categorie.id, up: 1}) }}"
                    ><i class="bi bi-arrow-down"></i></a>
                {% endif %}

                {% if categorie.parent is null
                    and categorie.position > 0
                    or categorie.parent is not null
                    and categorie.parent.categorieEnfant is not null
                    and categorie != categorie.parent.categorieEnfant | first %}
                    <a
                        {{ stimulus_controller('ajax', {'method': 'PATCH'}) }}
                            {{ stimulus_action('ajax', 'sendAjax') }}
                        href="{{ path('updateCategoriePosition', {id: categorie.id, up: 0}) }}"
                    ><i class="bi bi-arrow-up"></i></a>
                {% endif %}

                <a class="js-confirm"
                    {{ stimulus_controller('ajax', {'method': 'DELETE'}) }}
                        {{ stimulus_action('ajax', 'askForConfirmation') }}
                   href="{{ path('deleteCategorie', {categorie: categorie.id}) }}"
                ><i class="bi bi-trash"></i></a>
            </span>
        </h{{ (depth + 2) }}>

        {% if categorie.categorieEnfant | length > 0 %}
            {% for sousCategorie in categorie.categorieEnfant %}
                {{ self.recursiveCategorieAdmin(sousCategorie, (depth+1)) }}
            {% endfor %}
        {% endif %}

        {# Gestion des lignes #}
        {% if categorie.lignes | length > 0 %}
            <ul>
                {% for ligne in categorie.lignes %}
                    <li>
                        <span class="ligne-titre">{{ ligne.titre }}</span>
                        <span>
                            {% if ligne.class == 'Ligne' %}
                                <a href="{{ path('formLigne', {ligne: ligne.id}) }}"><i class="bi bi-pencil"></i></a>

                                {% if ligne != categorie.lignes | first %}
                                <a
                                    {{ stimulus_controller('ajax', {'method': 'PATCH'}) }}
                                        {{ stimulus_action('ajax', 'sendAjax') }}
                                    href="{{ path('updateLignePosition', {ligne: ligne.id, up: 0}) }}"
                                ><i class="bi bi-arrow-left"></i></a>
                                {% endif %}

                                {% if ligne != categorie.lignes | last %}
                                <a
                                    {{ stimulus_controller('ajax', {'method': 'PATCH'}) }}
                                        {{ stimulus_action('ajax', 'sendAjax') }}
                                    href="{{ path('updateLignePosition', {ligne: ligne.id, up: 1}) }}"
                                ><i class="bi bi-arrow-right"></i></a>
                                {% endif %}

                                <a
                                    {{ stimulus_controller('ajax', {'method': 'DELETE'}) }}
                                    {{ stimulus_action('ajax', 'askForConfirmation') }}
                                    href="{{ path('deleteLigne', {ligne: ligne.id}) }}"
                            ><i class="bi bi-trash"></i></a>
                            {% endif %}

                            {% if ligne.class == 'Competence' %}
                                <a href="{{ path('formCompetence', {competence: ligne.id}) }}"><i
                                            class="bi bi-pencil"></i></a>

                                {% if ligne != categorie.lignes | first %}
                                <a
                                        {{ stimulus_controller('ajax', {'method': 'PATCH'}) }}
                                        {{ stimulus_action('ajax', 'sendAjax') }}
                                        href="{{ path('updateLignePosition', {ligne: ligne.id, up: 0}) }}"
                                    ><i class="bi bi-arrow-left"></i></a>
                                {% endif %}

                                {% if ligne != categorie.lignes | last %}
                                <a
                                        {{ stimulus_controller('ajax', {'method': 'PATCH'}) }}
                                        {{ stimulus_action('ajax', 'sendAjax') }}
                                        href="{{ path('updateLignePosition', {ligne: ligne.id, up: 1}) }}"
                                    ><i class="bi bi-arrow-right"></i></a>
                                {% endif %}

                                <a
                                    {{ stimulus_controller('ajax', {'method': 'DELETE'}) }}
                                    {{ stimulus_action('ajax', 'askForConfirmation') }}
                                    href="{{ path('deleteCompetence', {competence: ligne.id}) }}"
                            ><i class="bi bi-trash"></i></a>
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}
